/* Основні стилі (Mobile First) */
body {
    background: #f6f6fa;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sidebar */
.sidebar {
    background: #e0ebfe;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.sidebar img {
    width: 100%;
    max-width: 370px;
    display: block;
    margin: 0 auto;
}

.sidebar-content {
    padding-top: 20px;
}

.сontacts-title,
.skills-title {
    font-size: 18px;
    font-weight: 700;
}

.сontacts-item,
.skills-list-item {
    font-size: 14px;
    line-height: 24px;
}

/* Основний контент */
.main-content {
    padding: 20px;
}

.my-name {
    font-size: 32px;
    line-height: 40px;
}

.my-projects-title,
.work-experience-title {
    font-size: 20px;
    font-weight: 700;
}

.work-experience-company {
    font-size: 16px;
}

.work-experience-duties-item {
    font-size: 14px;
    line-height: 24px;
}

/* Адаптивні стилі */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .wrapper {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
    }

    .main-content {
        padding: 40px;
    }

    .my-name {
        font-size: 38px;
    }
}

@media screen and (min-width: 1158px) {
    .wrapper {
        flex-direction: row-reverse;
    }

    .sidebar {
        width: 370px;
    }

    .main-content {
        padding: 80px;
    }

    .my-name {
        font-size: 45px;
    }
}
